<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yolo"
        tools:targetApi="31">
        <activity
            android:name=".askQueriesChatbotActivity2"
            android:exported="false" />
        <activity
            android:name=".NearbyPharmacyActivity2"
            android:exported="false" />
        <activity
            android:name=".NearbyHospitalsActivity2"
            android:exported="false" />
        <activity
            android:name=".HomeActivity2"
            android:exported="false" />
        <activity
            android:name=".HospitalSignUpActivity2"
            android:exported="false" />
        <activity
            android:name=".HospitalLoginActivity2"
            android:exported="false" />
        <activity
            android:name=".UserSignUpActivity2"
            android:exported="false" />
        <activity
            android:name=".UserLoginActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>